@media (min-width:200px) and (max-width:640px) {
     .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        justify-content: center;
     }
      #container{
         display:flex;
         flex-direction: column;
         gap: 19px;
      }
      #exercise{
        min-width:150px;
        justify-content: center;
        margin: 0 auto;
      }
      #button{
        display: flex;
        flex-direction: column;
      }

}
@media (min-width:641px) and (max-width:800px){
    .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        justify-content: center;
     }
      #container{
         display:grid;
        grid-template-columns:repeat(2,1fr);
        gap: 15px;
      }

}